body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:648px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:18px;
}
#u91_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:32px;
  height:11px;
  background-image:none;
}
#u91_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:21px;
  top:0px;
}
#u92_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
  background-image:none;
}
#u92_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:320px;
  height:37px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:37px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:24px;
  width:55px;
  height:37px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:586px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:375px;
  height:586px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:285px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
